input,
button,
mat-label,
th,
td,
h2,
div,
span {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

.container {
  width: 100%;
}

.full-width {
  width: 100%;
}

.btn-submit {
  margin-top: 10px;
}

::ng-deep .mat-mdc-form-field {
  justify-content: center;
  font-family: "Ubuntu", sans-serif;
}

::ng-deep .mat-mdc-card {
  height: 100%;
}

.card-info {
  display: flex;
  flex-direction: column;
}

.list-title {
  width: 100%;
}

.list-value {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.checkbox-section {
  display: flex;
  justify-content: space-between;
}
