<ng-container>
  <mat-card class="card" *ngIf="!loading; else loadData">
    <mat-card-header class="header">
      <div>
        <mat-icon matListItemIcon class="icon">schedule</mat-icon>
      </div>
    </mat-card-header>
    <mat-card-content class="content">
      <div class="items col">
        <p class="item">Diese Woche gearbeitet</p>
        <h1 class="itemValue">
          <strong> {{ weekTimeIs }}h </strong>
        </h1>
        <p class="item">von 40:00h</p>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-template #loadData>
  <mat-card class="card load-Data">
    <mat-spinner diameter="25"></mat-spinner>
  </mat-card>
</ng-template>
