<div class="container">
  <div *ngIf="!loading; else loadData">
    <form [formGroup]="myCustomerForm" (ngSubmit)="submit($event)">
      <div class="row">
        <mat-form-field class="full-width">
          <mat-label>Name</mat-label>
          <input type="text" matInput formControlName="name" />
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="full-width">
          <mat-label>Stadt</mat-label>
          <input type="text" matInput formControlName="city" />
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="full-width">
          <mat-label>Land</mat-label>
          <mat-select formControlName="country" [compareWith]="isSameCountry">
            <mat-option *ngFor="let c of countries" [value]="c">
              {{ c.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="full-width">
          <mat-label>Id</mat-label>
          <input type="text" matInput formControlName="id" />
        </mat-form-field>
      </div>

      <div class="row btn-submit">
        <button
          type="submit"
          class="full-width"
          mat-raised-button
          color="primary"
        >
          <mat-icon>save</mat-icon>Speichern
        </button>
      </div>
    </form>
  </div>
  <div>{{ myCustomerForm.value | json }}</div>
</div>

<ng-template #loadData>
  <div class="load-Data">
    <mat-spinner diameter="40"></mat-spinner>
  </div>
</ng-template>
