img {
  height: 48px;
  width: 48px;
}
.container {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.card {
  top: 20vh;
  max-width: 330px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 100%;
}

.content {
  display: block;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.mat-form-field {
  width: 100%;
}

.text-or {
  padding: 10px 0 10px 0;
}

.text-registerLink {
  padding-top: 5px;
  text-align: left;
  cursor: pointer;
}

.text-registerLink:hover {
  font-weight: bold;
}
