<div class="container">
  <div class="row">
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <mat-card class="card">
        <mat-card-content class="card-header">
          <div
            class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute"
          >
            <mat-icon matListItemIcon class="material-icons opacity-10"
              >schedule</mat-icon
            >
          </div>
          <div class="text-end pt-1">
            <h1 class="mb-1"><strong>36h</strong></h1>
            <p>von 40h</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <mat-card class="card">
        <mat-card-content class="card-header">
          <div
            class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute"
          >
            <mat-icon matListItemIcon class="material-icons opacity-10"
              >schedule</mat-icon
            >
          </div>
          <div class="text-end pt-1">
            <h1 class="mb-1"><strong>36h</strong></h1>
            <p>von 40h</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <mat-card class="card">
        <mat-card-content class="card-header">
          <div
            class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute"
          >
            <mat-icon matListItemIcon class="material-icons opacity-10"
              >schedule</mat-icon
            >
          </div>
          <div class="text-end pt-1">
            <h1 class="mb-1"><strong>36h</strong></h1>
            <p>von 40h</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <mat-card class="card">
        <mat-card-content class="card-header">
          <div
            class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute"
          >
            <mat-icon matListItemIcon class="material-icons opacity-10"
              >schedule</mat-icon
            >
          </div>
          <div class="text-end pt-1">
            <h1 class="mb-1"><strong>36h</strong></h1>
            <p>von 40h</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
