<div class="container">
  <div *ngIf="!loading; else loadData">
    <div class="row">
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <app-item-worktime [data]="wsDateObservable"></app-item-worktime>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <app-item-last-travel
          [data]="travelDateOberservable"
        ></app-item-last-travel>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <app-item-open-amount
          [data]="travelDateOberservable"
        ></app-item-open-amount>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <app-item-submitted-travel
          [data]="travelDateOberservable"
        ></app-item-submitted-travel>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6">
        <mat-card class="card">
          <app-travel-chart></app-travel-chart>
        </mat-card>
      </div>
    </div>
  </div>

  <ng-template #loadData>
    <div class="load-Data">
      <mat-spinner diameter="25"></mat-spinner>
    </div>
  </ng-template>
</div>
