<div class="mat-elevation-z8">
  <div class="header-container-table">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input
        matInput
        [(ngModel)]="filterValue"
        (keyup)="applyFilter(filterValue)"
        placeholder="Eingabe"
        #input
        autocomplete="off"
      />
      <button mat-icon-button matIconSuffix (click)="clearFilter($event)">
        <mat-icon>backspace</mat-icon>
      </button>
    </mat-form-field>
    <div class="header-button-table">
      <button mat-raised-button (click)="createCountry()">
        <mat-icon>add</mat-icon>
        Neues Land
      </button>
    </div>
  </div>

  <table
    *ngIf="!loading; else loadData"
    mat-table
    [dataSource]="dataSource"
    matSort
  >
    <!--Position Column-->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <div class="cell-data">Id</div>
      </th>
      <td mat-cell *matCellDef="let country">
        <div class="cell-data">
          {{ country.id }}
        </div>
      </td>
    </ng-container>

    <!--Name Column-->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <div class="cell-data">Name</div>
      </th>
      <td mat-cell *matCellDef="let country">
        <div class="cell-data">
          {{ country.name }}
        </div>
      </td>
    </ng-container>

    <!--Tagespauschale Column-->
    <ng-container matColumnDef="rate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <div class="cell-data">Tagespauschale</div>
      </th>
      <td mat-cell *matCellDef="let country">
        <div class="cell-data">
          {{ country.rate | currency : "EUR" }}
        </div>
      </td>
    </ng-container>

    <!--An-und Abreise Column-->
    <ng-container matColumnDef="halfRate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <div class="cell-data">Pauschale An-und Abreise</div>
      </th>
      <td mat-cell *matCellDef="let country">
        <div class="cell-data">
          {{ country.halfRate | currency : "EUR" }}
        </div>
      </td>
    </ng-container>

    <!--Edit Button Column-->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let country; let i = index">
        <div class="action-buttons">
          <button
            mat-icon-button
            (click)="updateCountry(country.id)"
            color="primary"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="deleteCountry(i, country.id)"
            color="warn"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell">
        <div class="cell-data">keine Daten gefunden</div>
      </td>
    </tr>
  </table>

  <mat-paginator
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  >
  </mat-paginator>
</div>

<ng-template #loadData>
  <div class="load-Data">
    <mat-spinner diameter="40"></mat-spinner>
  </div>
</ng-template>
