h2 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

/*.bg {
  background-image: url("../assets/picture/background_login_full.png");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}*/
