<div>
    <form class="form-signin">
        <img class="mb-4" src="../assets/milan_logo.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        <label for="inputEmail" class="sr-only">E-Mail</label>
        <input type="email" id="inputEmail" [(ngModel)]="user.email" name="email" class="form-control" placeholder="E-Mail" required autofocus>
        <button class="btn btn-lg btn-primary btn-block" (click)="onSubmit()" type="submit">Reset <i class="fa fa-sign-in"
                aria-hidden="true"></i>
        </button>
        <a routerLink="/login">Zurück zum Login</a>    
        <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
    </form>
</div>
