<div class="container text-center">
  <mat-card class="card m-auto w-100">
    <mat-card-header class="header">
      <img src="../../../assets/picture/milan_logo.png" alt="" />
      <h2>Passwort vergessen</h2>
    </mat-card-header>
    <mat-card-content class="content">
      <form class="form" [formGroup]="forgotPwForm" (ngSubmit)="submit()">
        <mat-form-field class="example-full-width">
          <mat-label>E-Mail</mat-label>
          <input matInput formControlName="email" />
          <mat-error *ngIf="forgotPwForm.get('email')?.hasError('required')"
            ><strong>E-Mail ist Pflichtfeld!</strong></mat-error
          >
        </mat-form-field>

        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="forgotPwForm.invalid"
        >
          <mat-icon>app_registration</mat-icon>E-Mail senden
        </button>

        <span class="text-registerLink" [routerLink]="['/auth/login']">
          Zurück zum Sign In</span
        >
      </form>
    </mat-card-content>
  </mat-card>
</div>
