input,
button,
mat-label,
mat-cell,
h2,
span {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

.mat-mdc-form-field {
  font-size: 14px;
}

.cell-data {
  font-family: "Ubuntu", sans-serif;
}

.load-Data {
  display: flex;
  justify-content: center;
}

tr.mat-row:hover {
  background: whitesmoke;
}

button {
  margin-right: 5px;
}

.table-icon {
  height: 36px;
  width: 36px;
}
